@media screen and (max-width: 1600px) {
    .header-area {
        padding-top: 130px;
    }

    .header-area .main-title {
        font-size: 76px;
    }

    .header-area .info-box {
        bottom: 80px;
    }

    .header-area .header-image {
        margin: 0 -50px 0 50px;
    }

    .action-tip.tip-1 {
        right: 90px;
    }

    .action-tip.tip-2 {
        right: 40px;
    }

    .action-tip.tip-3 {
        left: 90px;
    }

    .action-tip.tip-4 {
        left: 30px;
    }

    .header-area .header-circle-text {
        right: 3vw;
    }

}

@media screen and (max-width: 1200px) {
    .header-area .main-title {
        font-size: 64px;
    }

    .header-content .desc {
        margin-bottom: 30px;
    }
    
    .header-product-slider .product-item {
        padding: 15px 0;
        margin: 0 15px;
    }
    
    .mainmenu-area .nav-row .menu-items > ul > li {
        padding: 0 20px;
    }
}

@media screen and (max-width: 992px) {
    .header-content {
        text-align: center;
        margin-bottom: 40px;
    }

    .header-area .header-image {
        margin: 0 0 0 5vw;
        text-align: center;
    }

    .header-area .header-circle-text {
        right: 20vw;
        top: 15%;
    }

    .header-area .main-title {
        margin-right: 0;
    }
}

@media screen and (min-width: 768px) {
    .feature-box-2.align-right {
        padding-left: 0;
        padding-right: 88px;
        text-align: right;
    }

    .feature-box-2.align-right .icon {
        left: auto;
        right: 0;
    }
}

@media screen and (max-width: 768px) {
    .header-area .header-circle-text {
        right: 10vw;
    }

    .header-area .header-circle-text {
        width: 110px;
        height: 110px;
    }

    .header-area .header-circle-text .middle-icon {
        width: 60px;
        height: 60px;
        line-height: 60px;
    }

    .header-area .header-circle-text .middle-icon img {
        width: 50%;
    }

    .header-area .header-circle-text svg {
        max-width: 94%;
    }

    .section-title .title {
        font-size: 38px;
    }

    .section-padding {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .section-padding-top {
        padding-top: 100px;
    }

    .section-padding-bottom {
        padding-bottom: 100px;
    }
}

@media screen and (max-width: 576px) {

    .section-title .title {
        font-size: 26px;
    }

    .header-area .header-circle-text {
        right: 5vw;
        top: 10%;
    }

    .header-area .main-title {
        font-size: 44px;
    }

    .header-area .info-box {
        left: 15px;
        bottom: 50px;
        padding: 10px;
    }

    .header-area .info-box .icon {
        width: 40px;
        height: 40px;
        line-height: 37px;
        margin-right: 8px;
    }

    .header-area .info-box .icon img {
        width: 50%;
    }

    .info-box .title {
        font-size: 16px;
        margin-bottom: 5px;
        margin-right: 5px;
    }

    .info-box .desc {
        font-size: 12px;
    }

    .info-box .content {
        display: flex;
        flex-direction: column;
    }

    .feature-box-2 .icon {
        position: static;
        margin-bottom: 24px;
        display: inline-block;
    }

    .feature-box-2 {
        padding-left: 0px;
        text-align: center;
    }

    .video-play-box {
        padding: 100px 0;
    }

    .video-play-box .play-button {
        width: 80px;
        height: 80px;
        line-height: 80px;
        font-size: 20px;
    }

    .video-play-box .wave-effect {
        width: 60px;
        height: 60px;
    }

    .testimonial-item .desc {
        font-size: 18px;
    }

    .testimonial-item .desc span {
        font-size: 22px;
    }
}



/* Responsive-Mobile-Menu-CSS-Start */
@media screen and (max-width: 1360px) {
    .mainmenu-area .nav-row .menu-items li ul.mega-menu li {
        width: 25%;
    }
}

@media screen and (min-width: 1025px) {
    .mainmenu-area .nav-row .menu-items {
        display: block !important;
    }

    .mainmenu-area .nav-row .menu-items li ul {
        transition: 0.5s ease;
        transform: scaleY(0);
        transform-origin: top center;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        left: 0;
        top: 100%;
    }
    
    .mainmenu-area .nav-row .menu-items li ul ul {
        right: 100%;
        left: auto;
        top: 0;
    }

    .mainmenu-area .nav-row .menu-items li:hover>ul {
        transform: scaleY(1);
        opacity: 1;
        visibility: visible;
    }

    .mainmenu-area .nav-row .menu-items ul li:hover > .plus:after {
        transform: rotate(-135deg);
    }
}
@media screen and (max-width: 1024px) {
    
    :root {
        --navbar-height: 80px;
    }
    
    .mainmenu-area .nav-row .nav-actions {
        -webkit-box-ordinal-group: inherit;
        -ms-flex-order: inherit;
        order: inherit;
    }

    .mainmenu-area .nav-row .nav-logo {
        width: 30%;
        display: inline-block;
        min-height: var(--navbar-height);
        line-height: var(--navbar-height);
    }

    .mainmenu-area .nav-row {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .mainmenu-area .nav-row .nav-actions {
        width: 70%;
        min-height: var(--navbar-height);
    }

    .mainmenu-area .nav-row .menu-items {
        width: 100%;
        display: none;
        max-height: 80vh;
        overflow: auto;
    }

    .mainmenu-area .nav-row .menu-items ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        background-color: #ffffff;
    }

    .mainmenu-area .nav-row .nav-actions .nav-action.toggle-menu {
        display: inline-block;
    }
    
    .mainmenu-area .nav-row .menu-items > ul > li:not(:last-child) {
        border-bottom: 1px solid #f1f1f1;
    }

    .mainmenu-area .nav-row .menu-items > ul > li > a {
        padding: 15px 0;
        line-height: 1.3em;
    }
    
    .mainmenu-area .nav-row .menu-items ul li.clicked>a,
    .mainmenu-area .nav-row .menu-items ul li>a.active,
    .mainmenu-area .nav-row .menu-items ul li:hover>a {
        color: var(--primary-color);
    }

    .mainmenu-area .nav-row .menu-items ul li a {
        width: calc(100% - 20px);
    }
    
    .mainmenu-area .nav-row .menu-items ul.mega-menu li a {
        width: 100%;
    }
    
    .mainmenu-area .nav-row .menu-items ul li a .plus {
        margin-left: auto;
    }

    .mainmenu-area .nav-row .menu-items li ul.mega-menu {
        padding: 10px 18px;
        overflow: inherit;
        max-height: inherit;
    }    

    .mainmenu-area .nav-row .menu-items li ul.mega-menu li {
        width: 33.33%;
        padding: 12px 5px;
    }
    
    .mainmenu-area .nav-row .menu-items li {
        width: 100%;
    }

    .mainmenu-area .nav-row .menu-items li ul {
        display: none;
        margin-bottom: 24px;
    }
    
    .mainmenu-area .nav-row .menu-items li.clicked > ul {
        display: flex;
    }
    .mainmenu-area .nav-row .menu-items ul li.have-submenu a:before {
        display: none;
    }

    .mainmenu-area .nav-row .menu-items ul li.clicked > .plus:after {
        transform: rotate(-135deg);
    }
    
    .mainmenu-area .nav-row .menu-items li ul li {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
}

@media screen and (max-width: 576px) {
    .mainmenu-area .nav-row .menu-items li ul.mega-menu li {
        width: 50%;
    }
    .mainmenu-area .nav-row .menu-items li ul.mega-menu li a .mega-thumb {
        margin-bottom: 8px;
    }
}

@media screen and (max-width: 480px) {
    .mainmenu-area .nav-row .menu-items li ul.mega-menu li {
        width: 100%;
    }
}
/* Sub-Menu-CSS-End */