@media screen and (max-width: 1200px) {
    .header-text .main-title {
        font-size: 78px;
    }

    body {
        --navbar-height: 90px;
    }
}

@media screen and (max-width: 992px) {
    body {
        --navbar-height: 80px;
    }

    .header-text .main-title {
        font-size: 68px;
    }

    .video-play-box {
        padding: 160px 0;
    }

    .video-play-box .overlay-text {
        font-size: 160px;
    }
}

@media screen and (max-width: 768px) {
    body {
        --navbar-height: 60px;
    }

    .header-area {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .header-text .main-title {
        font-size: 58px;
        margin-bottom: 16px;
    }

    .header-text .product-image {
        max-width: 180px;
    }

    .header-text .header-price {
        margin-bottom: 50px;
        font-size: 22px;
    }

    .header-image .circle-buy-button {
        width: 80px;
        height: 80px;
        line-height: 1.4em;
        font-size: 14px;
    }

    .fifty-color-bg,
    .header-image {
        padding: 40px;
    }

    .color-switch-options {
        padding-bottom: 16px;
    }

    .color-switch-options .switch {
        width: 30px;
        height: 30px;
    }

    .section-title .title {
        font-size: 38px;
        margin-bottom: 16px;
    }

    .feature-box-1 .icon {
        margin-bottom: 30px;
    }

    .video-play-box {
        padding: 120px 0;
    }

    .video-play-box .overlay-text {
        font-size: 20vw;
    }

    .video-play-box .play-button {
        width: 80px;
        height: 80px;
        line-height: 80px;
        font-size: 24px;
    }

    .testimonial-box {
        padding: 90px 30px 30px 30px;
        margin-top: 65px;
    }

    .testimonial-box .rating-star {
        margin-bottom: 16px;
    }

    .testimonial-box .desc {
        font-size: 20px;
    }

    .testimonial-area .avarage-circle {
        width: 130px;
        height: 130px;
        font-size: 16px;
        top: 65px;
    }

    .testimonial-area .avarage-circle span {
        font-size: 32px;
        line-height: 36px;
    }
}

@media screen and (max-width: 576px) {
    body {
        --navbar-height: 50px;
    }

    .feature-box {
        padding: 30px;
    }

    .video-play-box {
        padding: 80px 0;
    }

    .section-title .title {
        font-size: 32px;
        margin-bottom: 16px;
    }

    .feature-box-2 {
        padding-left: 0;
    }

    .feature-box-2 .icon {
        position: static;
        margin-bottom: 24px;
        width: 60px;
        height: 60px;
        line-height: 60px;
        font-size: 22px;
    }

    .feature-box-2 .title {
        font-size: 22px;
    }

    .header-text .main-title {
        font-size: 48px;
    }

}

@media screen and (max-width: 480px) {
    body {
        --navbar-height: 50px;
    }
}



/* === Responsive-Mobile-Menu-CSS === */
@media screen and (min-width: 1200px) {
    .mainmenu-area .nav-row .menu-items {
        display: flex!important;
    }

}

@media screen and (max-width: 1200px) {
    .mainmenu-area .nav-row .menu-items {
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #fff;
        display: none;
    }

    .transparent-light .mainmenu-area:not(.sticky) .menu-items {
        --heading-color: #131313;
    }

    .mainmenu-area .nav-actions {
        order: inherit;
    }

    .mainmenu-area .nav-actions .primary-button.menu-toggle {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    :root {
        --navbar-height: 80px;
    }

    .mainmenu-area .nav-row .menu-items > ul {
        flex-direction: column;
    }

    .mainmenu-area .nav-row .menu-items > ul > li {
        justify-content: space-between;
        padding: 10px 20px;
        border-bottom: 1px solid rgba(23, 11, 55, 0.1);
        flex-wrap: wrap;
    }

    .mainmenu-area .nav-row .menu-items li ul {
        position: static;
        order: 1;
        width: 100%;
        display: none !important;
        margin-top: 10px;
    }

    .mainmenu-area .nav-row .menu-items li.menu-open > ul {
        display: block !important;
    }

    .mainmenu-area .nav-row .menu-items li.menu-open > ul.over-items {
        display: grid !important;
    }

    .mainmenu-area .nav-row .menu-items ul li:not(.menu-open) .plus:before {
        transform: rotate(90deg);
    }

    .mainmenu-area .nav-row .menu-items > ul > li > a {
        line-height: 1.6em;
    }

    .mainmenu-area .nav-row .menu-items {
        max-height: calc(100vh - var(--navbar-height));
        overflow-y: auto;
    }
}


@media screen and (max-width: 576px) {
    .mainmenu-area .nav-row .menu-items > ul ul.over-items {
        grid-template-columns: auto;
    }

    .primary-button .part {
        padding: 8px 20px;
        font-size: 14px;
    }

    .mainmenu-area .nav-row .nav-logo .logo {
        max-width: 150px;
    }

    .mainmenu-area .nav-actions .primary-button.cirlce .part {
        width: 34px;
        height: 34px;
        font-size: 14px;
    }

    .mainmenu-area .nav-actions .primary-button {
        margin-left: 10px;
    }
}

@media screen and (max-width: 440px) {
    .mainmenu-area .nav-actions .action-button {
        display: none;
    }

    .mainmenu-area .nav-actions .primary-button.cirlce .part {
        width: 30px;
        height: 30px;
    }

    .mainmenu-area .nav-row .nav-logo .logo {
        max-width: 120px;
    }
}