@media screen and (max-width: 1500px) {
    .header-area .overlay-text {
        font-size: 150px;
    }
}

@media screen and (max-width: 1200px) {
    .mainmenu-area .nav-row .menu-items li ul.mega-menu li {
        width: 25%;
    }

    .mainmenu-area .nav-row .menu-items>ul>li>a {
        padding: 0 18px;
    }

}

@media screen and (min-width: 1025px) {
    .mainmenu-area .nav-row .menu-items {
        display: block !important;
    }

    .mainmenu-area .nav-row .menu-items li ul {
        transition: 0.5s ease;
        transform: scaleY(0);
        transform-origin: top center;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        left: 0;
        top: 100%;
    }

    .mainmenu-area .nav-row .menu-items li:hover>ul {
        transform: scaleY(1);
        opacity: 1;
        visibility: visible;
    }

    .mainmenu-area .nav-row .menu-items ul li:hover>a .plus:after {
        transform: rotate(-135deg);
    }
}

@media screen and (max-width: 1024px) {
    :root {
        --navbar-height: 80px;
    }

    .mainmenu-area .nav-row .nav-actions {
        -webkit-box-ordinal-group: inherit;
        -ms-flex-order: inherit;
        order: inherit;
    }

    .mainmenu-area .nav-row .nav-logo {
        width: 30%;
        display: inline-block;
        min-height: var(--navbar-height);
        line-height: var(--navbar-height);
    }

    .mainmenu-area .nav-row {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .mainmenu-area .nav-row .nav-actions {
        width: 70%;
        min-height: var(--navbar-height);
    }

    .mainmenu-area .nav-row .menu-items {
        width: 100%;
        display: none;
        max-height: 80vh;
        overflow: auto;
    }

    .mainmenu-area .nav-row .menu-items ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        background-color: #ffffff;
        padding: 15px;
        border-radius: 10px;
    }

    .mainmenu-area .nav-row .nav-actions .nav-action.toggle-menu {
        display: inline-block;
    }

    .mainmenu-area .nav-row .menu-items>ul>li>a {
        line-height: 1.4em;
        padding: 10px 15px;
    }

    .mainmenu-area .nav-row .menu-items ul li a {
        width: 100%;
    }

    .mainmenu-area .nav-row .menu-items ul li a .plus {
        margin-left: auto;
    }


    .mainmenu-area .nav-row .menu-items li.mega-menu-item {
        position: relative;
        width: 100%;
    }

    .mainmenu-area .nav-row .menu-items li ul.mega-menu {
        position: relative;
        box-shadow: none;
        padding: 0;
    }

    .mainmenu-area .nav-row .menu-items li {
        width: 100%;
    }

    .mainmenu-area .nav-row .menu-items li ul {
        display: none;
    }

    .mainmenu-area .nav-row .menu-items li.clicked>ul {
        display: flex;
    }

    .mainmenu-area .nav-row .menu-items ul li.clicked>a .plus:after {
        transform: rotate(-135deg);
    }

    .mainmenu-area .nav-row .menu-items li ul {
        box-shadow: none;
        padding: 5px 15px;
    }
}

@media screen and (max-width: 768px) {
    .mainmenu-area .nav-row .menu-items li ul.mega-menu li {
        width: 50%;
    }
}

@media screen and (max-width: 576px) {
    .mainmenu-area .nav-row .nav-actions .nav-action {
        margin: 5px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 14px;
    }
}