/* ==================
CSS Indexing
=====================
1. Reset-CSS
2. Button-CSS
3. Helper-Class-CSS
4. Section-Title-CSS
5. Icon-List-CSS
6. Preloader-CSS
7. Mainmenu-CSS
8. Header-CSS
9. Features-CSS
10. Counter-CSS
11. Overview-CSS
12. Video-CSS
13. Call-to-Action-CSS
14. Testimonial-CSS
15. Product-CSS
16. FAQ-CSS
17. Footer-CSS
===================*/

:root {
    --primary-color: #FEC202;
    --body-color: #696969;
    --heading-color: #131313;
    --navbar-height: 100px;
}

/*=== 1. Reset-CSS ===*/
body {
    font-family: 'Gilroy';
    font-weight: 500;
    font-size: 18px;
    color: var(--body-color);
    position: relative;
    z-index: 1;
    overflow: hidden;
}

P:last-child {
    margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    color: var(--heading-color);
    margin-bottom: 16px;
}

a:focus,
a:hover,
a {
    text-decoration: none;
    outline: none;
}

a {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

img {
    max-width: 100%;
}

.row>div {
    position: relative;
    z-index: 1;
}

.container {
    max-width: 1312px;
    width: calc(100vw - 60px);
}

/*=== 2. Button-CSS ===*/
.primary-button {
    background-color: var(--primary-color);
    color: var(--heading-color);
    display: inline-block;
    border-radius: 6px;
    font-weight: 700;
    box-shadow: 0px 0px 0px rgba(255, 112, 49, 0);
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.primary-button:hover {
    color: var(--heading-color);
}

.primary-button .part {
    display: flex;
    align-items: center;
    padding: 14.5px 33px;
    transition: 0.5s;
    transform: translateY(0%);
    width: 100%;
}

.primary-button .back {
    position: absolute;
    top: 100%;
    left: 0%;
    background-color: var(--heading-color);
    color: #ffffff;
}

.primary-button:hover .part {
    transform: translateY(-100%);
}

.primary-button .icon {
    font-size: 80%;
    margin-left: 10px;
}

.primary-button.white .front {
    background-color: #ffffff;
    color: var(--heading-color);
}


/*=== 3. Helper-Class-CSS ===*/
.g-4 {
    --bs-gutter-y: 2rem;
    --bs-gutter-x: 2rem;
}

.section-padding {
    padding-top: 132px;
    padding-bottom: 132px;
}

.section-padding-top {
    padding-top: 132px;
}

.section-padding-bottom {
    padding-bottom: 132px;
}

.mb-n40 {
    margin-bottom: -40px;
}

.z2 {
    z-index: 6 !important;
    position: relative;
}

.single-image {
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;
}

.single-image img {
    border-radius: 5px;
}

/*=== 4. Section-Title-CSS ===*/
.section-title {
    margin-bottom: 56px;
}

.section-title .title {
    font-size: 48px;
    margin-bottom: 24px;
}

.section-title .primary-button {
    margin-top: 48px;
}

.section-title.white-title .title {
    color: #ffffff;
}

.section-title.white-title .desc {
    color: #ffffff;
}

/*=== 6. Preloader-CSS ===*/
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #ffffff;
    pointer-events: none;
    z-index: 999;
}

.preloader .load {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: var(--primary-color);
    opacity: 0.1;
}

.preloader .count {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 18vw;
    color: var(--primary-color);
    font-weight: 800;
    text-align: center;
    display: inline-block;
}

/*=== 7. Mainmenu-CSS ===*/
.mainmenu-area {
    min-height: var(--navbar-height);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    z-index: 99;
    background-color: #FEC202;
    transition: 0.3s;
    position: relative;
    border-bottom: 1px solid rgba(19, 19, 19, 0.1);
}

.sticky-menu {
    --navbar-height: 80px;
}

.mainmenu-area .nav-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.mainmenu-area .nav-row>div {
    display: flex;
    align-items: center;
}

.mainmenu-area .nav-row .nav-left,
.mainmenu-area .nav-row .nav-right {
    flex-grow: 5;
    width: 40%;
    z-index: 1;
}

.mainmenu-area .nav-row .nav-right {
    justify-content: flex-end;
}

.mainmenu-area .nav-row .menu-items ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}


.mainmenu-area .nav-row .menu-items ul li a {
    color: var(--heading-color);
    display: block;
    line-height: var(--navbar-height);
    margin: 0 20px;
    font-weight: 600;
    box-shadow: inset 0 0 0 0 var(--heading-color);
}

.mainmenu-area .nav-row .menu-items ul li.current-menu-item a {
    font-weight: 700;
}

.mainmenu-area .nav-row .menu-items ul li.current-menu-item a,
.mainmenu-area .nav-row .menu-items ul li a.active,
.mainmenu-area .nav-row .menu-items ul li:hover>a {
    box-shadow: inset 0 -2px 0 0 var(--heading-color);
}


.mainmenu-area .nav-row .menu-items {
    width: 100%;
    display: flex;
    justify-content: center;
}

.mainmenu-area .nav-row .nav-logo {
    max-width: 200px;
}

.mainmenu-area .nav-row .nav-logo .light-logo {
    display: none;
}

.mainmenu-area .nav-row .nav-actions {
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
}

.mainmenu-area .nav-row .nav-actions .nav-action {
    width: var(--navbar-height);
    height: var(--navbar-height);
    font-size: 32px;
    text-align: center;
    position: relative;
    z-index: 1;
    background-color: transparent;
    color: var(--heading-color);
    z-index: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 1px;
}

.mainmenu-area .nav-row .nav-actions .nav-action:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    opacity: 0;
    z-index: -1;
    transition: 0.3s;
}

.mainmenu-area .nav-row .nav-actions .nav-action:hover:before {
    opacity: 0.1;
}

.mainmenu-area .nav-row .nav-actions .nav-action:after {
    content: "";
    width: 1px;
    height: 50%;
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(19, 19, 19, 0.1);
}

.mainmenu-area .nav-row .nav-left .nav-actions .nav-action:after {
    left: calc(100% - 2px);
}

.mainmenu-area .nav-row .nav-actions .nav-action .count {
    position: absolute;
    right: 30%;
    top: 30%;
    width: 20px;
    height: 20px;
    line-height: 18px;
    border: 1px solid var(--primary-color);
    text-align: center;
    background-color: var(--heading-color);
    color: var(--primary-color);
    font-weight: 700;
    font-size: 10px;
    border-radius: 100px;
    display: inline-block;
    -webkit-box-shadow: 0px 4px 4px rgba(255, 107, 49, 0.2);
    box-shadow: 0px 4px 4px rgba(255, 107, 49, 0.2);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.mainmenu-area .nav-row .nav-actions .nav-action.search-toggle,
.mainmenu-area .nav-row .nav-actions .nav-action.mobile-menu-toggle {
    display: none;
}

.nav-products-area {
    position: fixed;
    bottom: -100vh;
    left: 0;
    z-index: 9;
    background-color: #ffffff;
    width: 100%;
    height: calc(100vh - var(--navbar-height));
    overflow: auto;
    transition: 0.3s;
}

.nav-products-active .nav-products-area {
    bottom: 0px;
}

.nav-products-active {
    overflow: hidden;
}

/* Nav-Widget-CSS */
.page-wrapper {
    position: relative;
    z-index: 1;
    overflow: auto;
    height: calc(100vh - var(--navbar-height));
}

.nav-actions .toggle {
    position: relative;
    z-index: 1;
}

.nav-actions .toggle span {
    transition: 0.3s;
    display: block;
}

.nav-actions .toggle span:nth-child(2) {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(50%);
    opacity: 0;
}

.nav-actions .toggle.active span:nth-child(2) {
    transform: translateY(0);
    opacity: 1;
}

.nav-actions .toggle.active span:nth-child(1) {
    transform: translateY(-50%);
    opacity: 0;
}

.social-menu {
    list-style: none;
    margin: -10px;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.social-menu li a {
    width: 48px;
    height: 48px;
    line-height: 48px;
    display: inline-block;
    text-align: center;
    background-color: #ffffff;
    color: var(--body-color);
    border-radius: 100px;
    margin: 10px;
    -webkit-box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.05);
}

.social-menu li:hover a {
    background-color: var(--primary-color);
    color: #ffffff;
}

.nav-search {
    position: relative;
    z-index: -1;
    display: flex;
    align-items: center;
    margin: 0px 40px;
}

.nav-search .input-field {
    padding: 5px 10px 5px 24px;
    font-weight: 500;
    outline: none;
    height: 50px;
    background-color: #FECE35;
    border-radius: 4px 0 0 4px;
    color: var(--heading-color);
    border: 1px solid #E7BB32;
    border-right: none;
}

.nav-search button {
    background: none;
    padding: 0;
    margin: 0;
    width: 60px;
    height: 50px;
    color: var(--heading-color);
    outline: none;
    text-align: center;
    background-color: #FECE35;
    border: 1px solid #E7BB32;
    border-left: none;
    border-radius: 0 4px 4px 0;
}

/* -- Header-Area-css -- */
.header-area {
    background-color: #FEC202;
    padding-top: 100px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.header-area:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 76%;
    width: 250vw;
    height: 250vw;
    border-radius: 500vw;
    background-color: #ffffff;
    display: inline-block;
}

.header-area .element {
    position: absolute;
    z-index: -1;
}

.header-area .element.element-1 {
    left: 8%;
    top: 20%;
    max-width: 10vw;
}

.header-area .element.element-2 {
    right: 5%;
    top: 12%;
    max-width: 10vw;
}

.header-area .element.element-3 {
    left: 0;
    bottom: 15%;
    transform: translateX(-60%);
    max-width: 30vw;
}

.header-area .element.element-4 {
    right: 0;
    bottom: 15%;
    transform: translateX(60%);
    max-width: 30vw;
}

.header-area .element.element-5 {
    left: 50%;
    bottom: 33%;
    transform: translate(-50%, -50%);
    max-width: 70vw;
}

.header-area .header-text {
    text-align: center;
}

.header-area .header-text .main-title {
    font-size: 104px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 10px;
    margin-bottom: 40px;
}

.header-slider {
    margin-top: 80px;
}

.header-slider-pagination {
    width: 200px;
    margin: auto;
}

.header-slider-pagination .swiper-slide {
    text-align: center;
}

.header-slider-pagination .swiper-slide .number {
    font-size: 24px;
    font-weight: 500;
    color: var(--heading-color);
    cursor: pointer;
    display: block;
    margin-top: 10px;
    transition: 0.5s;
}

.header-slider-pagination .swiper-slide.swiper-slide-thumb-active .number {
    color: var(--primary-color);
    text-decoration: underline;
    margin-top: 0;
}

/* -- About-Area-CSS -- */
.about-area {
    position: relative;
    z-index: 1;
}

.about-area .element {
    position: absolute;
    z-index: -1;
}

.about-area .element-2 {
    left: 88%;
    top: 24%;
    max-width: 10vw;
}

.about-area .element-1 {
    left: 45%;
    top: 8%;
    width: 55px;
    max-width: 6vw;
}

.about-text .title {
    font-size: 32px;
    margin-bottom: 24px;
}

/* -- Feature-Area-CSS-- */
.feature-area {
    background-color: #FDF7E6;
    position: relative;
    z-index: 1;
}

.feature-area .element {
    position: absolute;
    z-index: -1;
}

.feature-area .element.element-1 {
    left: 6%;
}

.feature-area .element.element-2 {
    right: 4%;
    bottom: 8%;
}

.feature-box {
    background-color: #FEC202;
    padding: 40px;
    border-radius: 6px;
    color: #131313;
}

.feature-box.purple {
    background-color: #5438FD;
    color: #ffffff;
}

.feature-box.orange {
    background-color: #FF6B31;
    color: #ffffff;
}

.feature-box .image {
    margin: 0 0 30px 0;
}

.feature-box .title {
    margin-bottom: 16px;
}

.feature-box.purple .title,
.feature-box.orange .title {
    color: #ffffff;
}

.slice-slider .swiper-slide {
    border-radius: 6px;
    overflow: hidden;
    border: 4px solid #ffffff;
}

.slice-slider .swiper-slide img {
    width: 100%;
}


/* -- Intro-Area-CSS -- */
.intro-area {
    background-color: #FFF0EB;
}

.intro-area .intro-slide {
    margin-bottom: 64px;
}

.check-list {
    list-style: none;
    margin: 0px 0;
    padding: 0;
}

.check-list li {
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.check-list li:before {
    content: "\e929";
    font-family: 'landshop';
    margin-right: 12px;
    color: var(--primary-color);
}

.intro-slide .swiper-wrapper {
    display: flex;
    align-items: center;
}

.intro-slide .swiper-slide:nth-child(odd) {
    margin-top: 100px;
}

/* -- Product-Area-CSS -- */
.product-box {
    background-color: #F6F6F6;
    padding: 24px;
    border-radius: 6px;
    text-align: center;
}

.product-box .thumb {
    margin: 0 0 24px 0;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 4px;
    text-align: center;
    position: relative;
    z-index: 1;
}

.product-box .title {
    font-size: 24px;
    margin-bottom: 10px;
}

.product-box .price {
    margin-bottom: 16px;
}

.product-box .color-select {
    margin: -7px;
    padding-bottom: 10px;
}

.product-box .color-select .color {
    border: none;
    background-color: #ededed;
    width: 32px;
    height: 32px;
    border-radius: 100px;
    margin: 7px;
    padding: 0;
    position: relative;
}

.product-box .color-select .color::before {
    content: '';
    position: absolute;
    left: -3px;
    top: -3px;
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    border-radius: 100%;
    border: 1px solid var(--heading-color);
    transform: scale(0.9);
    opacity: 0;
    transition: 0.5s;
}

.product-box .color-select .color.active::before {
    opacity: 1;
    transform: scale(1);
}

.product-box .hover {
    padding: 15px;
    position: absolute;
    right: -24px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: 0.5s;
}

.product-box:hover .hover {
    right: 0;
    opacity: 1;
}

.product-box .hover .action {
    width: 56px;
    height: 56px;
    line-height: 56px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 100px;
    margin: 6px;
    color: var(--heading-color);
    font-size: 22px;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.08);
}

.product-box .hover .action:hover {
    background-color: var(--heading-color);
    color: #ffffff;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.08);
}

/*=== 17. Footer-CSS ===*/
.footer-area {
    background-color: #FFF5F2;
}

.footer-widget .footer-logo {
    display: inline-block;
    margin-bottom: 22px;
}

.footer-bottom {
    border-top: 1px solid rgba(19, 19, 19, 0.1);
    padding: 24px 0;
    text-align: center;
}

.social-menu {
    list-style: none;
    margin: -10px;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.social-menu li a {
    width: 48px;
    height: 48px;
    line-height: 48px;
    display: inline-block;
    text-align: center;
    background-color: #ffffff;
    color: var(--body-color);
    border-radius: 100px;
    margin: 10px;
    -webkit-box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.05);
}

.social-menu li:hover a {
    background-color: var(--primary-color);
    color: #ffffff;
}

.footer-widget .desc {
    margin-bottom: 24px;
}

.footer-widget .widget-title {
    margin-bottom: 24px;
}

.block-list {
    list-style: none;
    margin: -8px 0;
    padding: 0;
}

.block-list li {
    display: block;
}

.block-list li a {
    color: var(--body-color);
    display: inline-block;
    margin: 8px 0;
}

.block-list li:hover a {
    color: var(--primary-color);
}

.input-control {
    background-color: #ffffff;
    border: none;
    border-radius: 4px;
    display: inline-block;
    padding: 15px 24px;
    font-weight: 500;
    outline: none;
    line-height: 1.445em;
    -webkit-box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);
}

.subscribe-form .input-control {
    width: calc(100% - 66px);
    padding-left: 44px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.subscribe-form {
    position: relative;
    z-index: 1;
}

.subscribe-form .ls-envelope {
    position: absolute;
    left: 16px;
    top: 14px;
    z-index: 2;
}

.subscribe-form button[type="submit"] {
    width: 56px;
    height: 56px;
    font-size: 20px;
    text-align: center;
    line-height: 56px;
    border-radius: 4px;
    border: none;
    background-color: var(--primary-color);
    color: #ffffff;
    float: right;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-box-shadow: 0px 15px 30px rgba(255, 107, 49, 0.3);
    box-shadow: 0px 15px 30px rgba(255, 107, 49, 0.3);
}

.subscribe-form button[type="submit"]:hover {
    background-color: #ffffff;
    color: var(--primary-color);
}

.subscribe-form .input-control:focus {
    -webkit-box-shadow: 0px 15px 30px rgba(255, 107, 49, 0.3);
    box-shadow: 0px 15px 30px rgba(255, 107, 49, 0.3);
}

.subscribe-form .mc-error {
    position: absolute;
    left: 0;
    top: 100%;
    padding-top: 10px;
}